.icon {
  width: 100px;
  height: 100px;
  
}
.header {
  background-color: #097ca9;
  height: 100%;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  margin-top: 0;
}
.items{
color: aliceblue;
}

.btn-create{
  padding-top: 50px;
}

.title{
  font-size: 20px;
  color: aliceblue;
  text-align: center;
}

.btn-fab{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}

.img-qr{
  width: 2vw;
  height: 2vh;
}

.center{
  text-align: center;
}