.color1 {
  color: #060606;
}
.color2 {
  color: #0c2639;
}
.color3 {
  color: #1a5c81;
}
.color4 {
  color: #2b95c9;
}
.color5 {
  color: #2bc2c8;
}
.color1 {color: #140e10;}
.color2 {color: #103e55;}
.color3 {color: #097ca9;}
.color4 {color: #07c8ff;}
.color5 {color: #0ffff8;}

.header-text {
  padding-top: 50px;
}
.header {
  background-color: #097ca9;
  height: 100%;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  margin-top: 0;
}

.welcome {
  width: 250px;
  height: 250px;
}

.center {
  text-align: center;
}

.header1 {
  background-color: transparent;
}

.btn-next{
  padding-top: 50px;
}

.btn-next1{
  padding-top: 50px;
  background-color: aliceblue;
}